body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.1rem;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
